[project]
	description = A bunch of algorithms implemented in ruby
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/moizr
[access "refs/for/refs/*"]
	read = group user/moizr
	push = group user/moizr
	label-Code-Review = -2..+2 group user/moizr
	label-Verified = -1..+1 group user/moizr
	rebase = group user/moizr
	removeReviewer = group user/moizr
	submit = group user/moizr
[access "refs/heads/*"]
	read = group user/moizr
	create = group user/moizr
	push = +force group user/moizr
	pushMerge = group user/moizr
[access "refs/tags/*"]
	push = +force group user/moizr
	pushTag = group user/moizr
	pushSignedTag = group user/moizr
